<!DOCTYPE html>
<html>
  <head>
    <title>Randomizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
      <h1>Welcome to the Randomizer!</h1>
      <h2>Refresh the page to find a new #!</h2>
    </div>
    </header>
    <div align="center">
  <%= [*5..30].sample %>
  </div>
    <%= yield %>
  </body>
</html>
